VITE_FIREBASE_API_KEY=your-client-web-api-key
VITE_FIREBASE_AUTH_DOMAIN=fieldboard-5aef9.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=fieldboard-5aef9
VITE_FIREBASE_STORAGE_BUCKET=fieldboard-5aef9.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=708717744642
VITE_FIREBASE_APP_ID=1:708717744642:web:2d9f168f80714261940d1b
VITE_FIREBASE_MEASUREMENT_ID=G-CVWYSJHDXX
